<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{PAGE_TITLE}}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <header class="page-header">
            <img src="{{LOGO_URL}}" alt="{{BRAND_NAME}}" class="brand-logo">
            <h1>{{PAGE_TITLE}}</h1>
            <p class="page-description">{{PAGE_DESCRIPTION}}</p>
        </header>
